.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-carousel {
  height: 100vh;
  background-color: #0c1012;
}

.app-gallery {
  padding: 4em;
  background-color: #ffffff;
}

.display-button {
  position: absolute;
  top: 0;
  left: 0;
}
